//Colors
$primary-color: #0561A9
$secondary-color: #FFB142
$black: #232323
$white: #fff
$light-blue: #286EFA

//Texts
$bold-font: 'Neue Montreal Medium', sans-serif
$normal-font: 'Neue Montreal', sans-serif
$light-font: 'Neue Montreal Light', sans-serif

//Box Shadows
//box-shadows
$bs-1: 0px 3px 10px 2px rgba(0,0,0,0.16)
$bs-2: 8px 10px 37px 2px rgba(0,0,0,0.16)

