.doctor-card
    width: 100%
    border-bottom: solid 5px $primary-color
    padding-bottom: 50px
    transition: ease-in-out .3s
    img
        width: 100%
        border-bottom: solid 5px $primary-color
    .card-list__item:before
        margin-right: 10px
        content: '\2192'



