.map-card
    padding-bottom: 50px
    border: 1px dot-dash $black
    img
        width: 100%
    .map-card__local
        font-size: 3rem
        font-family: $bold-font
        margin: 0
        margin-top: 2rem
        transition: ease-in-out .3s
    .map-card__meta
        font-size: 1.6rem
        transition: ease-in-out .3s
    .map-card__phone
        font-size: 1.6rem
        margin-bottom: 30px
        transition: ease-in-out .3s
    .map-card__btn
        @extend .linkage
        background-color: $white
        color: $black
        transition: ease-in-out .3s

    .map-card__btn:hover
        color: $white
        background-color: $black

//.map-card:hover > .map-card__local
    color: $primary-color


