.doctoal-about

    .hero
        img
            border-bottom: 12px solid $primary-color
            height: 850px

    .hero-talk__about
        background-color: $secondary-color


.doctoral-info
    padding: 0 150px
    display: grid
    grid-template-columns: 1fr 500px
    img
        width: 80%
        display: table
        margin: 20px 0

.doctoral-info__card
    margin-top: 50px
    height: 500px
    width: 90%
    box-shadow: $bs-2

.doctors-note
    margin-right: 350px
    line-height: 1.7
    font-size: 2.4rem
