@media screen and (max-width: 1441px)
    // Main.sass
    html
        font-size: 62.5%
        margin: 0!important
    main
        margin: 0!important
    //Grid Engine
    .main-col
        grid-template-columns: 60px 1fr
        grid-template-rows: auto
        overflow: hidden

    //BLOG
    .blog-starter__text
        margin: 30px 20% 80px 10%
        font-size: 6.0rem

@media  screen and  (max-width: 900px)
    main
    //chat
    .messaging
        transform: translateX(89vw) translateY(83vh)
    //Grid Engine
    .main-col
        grid-template-columns: 30px 1fr
        grid-template-rows: auto
        overflow: hidden

    .header-grid
        grid-template-columns: 1fr
        overflow: hidden

    .nav-grid
        margin-top: 0
        grid-template-columns: 1fr 60px
    .col-2
        grid-template-columns: 1fr
    //Header
    .header
        display: block
        padding-top: 0
        box-shadow: 0 0 8px 0 rgba(0,0,0,.1), 0 1px 0 0 #ededed
        position: fixed
        width: 100%
        z-index: 9999
        top: 0
        margin: 0
        img
            display: table
            margin-left: .5rem
            padding: 0
        h1
            margin-left: 10%!important

        ul
            display: block
        li
            padding: 1.5rem 0 1.5rem 0
            text-decoration: none
            list-style: none
            display: block
            font-size: 2rem
            align-self: stretch
            border-bottom: solid .1rem rgba(0,0,0,.1)
            width: 100%
        li:after
            content: '\2192'
            right: 6rem
            position: absolute
            font-size: 2rem
            margin-left: 2rem

        .menu-icon
            display: block
            width: 36px
            height: 36px
            position: absolute
            float: right
            margin-right: 2rem
            top: 2rem
            right: 0
        nav

            background-color: #f5f5f5 !important
            transition: ease-in-out .3s
        .hide-nav
            transform: translateY(-500px)
            -webkit-animation: slideInDown cubic-bezier(0.75, 0.02, 0.5, 1)
            height: 0
            transition: ease-in-out .3s


    //Index

    .hero-container
        display: flex
        padding: 0
        margin-bottom: 10rem
        margin-top: 7rem
        img
            width: 100%
            height: 40vh

        .hero-talk
            margin-top: -5%
            h1
                padding: 0
                font-size: 2.6rem
                text-align: left

    .stripe-menu
        margin: -2rem 2rem 1rem 2rem
        label
            padding-left: 0
        ul
            display: flex
            flex-flow: row wrap
            width: 100%
            padding: 0
            margin: 5rem 0 5rem 0
            li
                list-style: none
                font-size: 2.6rem
                font-weight: 700
                flex-basis: 50%
                margin: 1rem 0 2rem 0
                padding-left: 0
                line-height: 1rem
            h6
                padding-left: .5rem
                display: inline-block
                margin: 2rem 0 2rem 0
                font-size: 2.6rem
                line-height: .1rem
                transition: ease-in-out .2s

    .news-card
        img
            width: 100%
        .news-image_large
            width: 100%

    .find-us
        .locations
            grid-template-columns: repeat(2, 1fr)

    //BLOG
    .blog-starter__text
        margin: 100px 5% 50px 5%
        font-size: 4rem

@media screen and (max-width: 600px)
    //Header
    .header
        display: block
        padding-top: 1rem
        .menu-icon
            display: block
            width: 36px
            height: 36px
            position: absolute
            float: right
            margin-right: 2rem
            top: 2rem
            right: 0
        img
            width: 250px
            margin-left: 3rem
            padding: 0
        ul
            display: block
        li
            padding: 1.5rem 0 1.5rem 0
            text-decoration: none
            list-style: none
            display: block
            font-size: 18px
            align-self: stretch
        li:after
            content: '\2192'
            font-size: 1.6rem
            margin-left: 2rem
    //Index
    .hero-container
        padding: 0
        margin-bottom: 10rem
        img
            display: block
            width: 100%
            height: 40vh

        .hero-talk
            margin: 15% auto 0 auto
            display: block !important
            max-width: calc(100% - 30px)
            width: calc(100% - 30px)
            padding: 1rem
            padding-left: 2rem
            overflow: hidden
            box-sizing: border-box
            h1
                text-align: left
                font-size: 2.8rem

    .stripe-menu
        margin: 1rem 2rem 2rem 2rem
        label
            padding-left: 0
        ul
            display: block
            padding: 0
            margin: 1rem 0 0 0
            li
                list-style: none
                display: block
                font-size: 2.4rem
                font-weight: 500
                line-height: .1rem
            li:first-child
                margin-top: 2rem
            li:last-child
                margin-bottom: 5rem
            h6
                line-height: .1rem
                display: inline-block
                font-size: 1.6rem
                transition: ease-in-out .2s

    .sign-up .sign-up__box .box__text
        width: auto
        transform: translateY(-200px)


@media screen and (max-width: 480px)
    .news-card
        padding-top: 150px
        margin-bottom: 150px
        img
            object-fit: cover
        .news-card_info
            margin-top: 150px
            width: 55%
            height: 20rem

    .find-us
        .locations
            grid-template-columns: 1fr

        .find-more
            float: left

    .map-card
        border-bottom: solid 3px #191919


